<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="./chatting-app.png">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <title>Quick Chat | Socket.io</title>
      <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
      <!-- Navbar  -->
      <nav class="navbar navbar-expand-lg bg-primary d-flex justify-content-center">
               <img src="./chatting-app.png" alt="chatapp" id="logo"/>
              <h1 class="text-light">Quick Chat</h1>
      </nav>


      <!-- Mid Section  -->
       <div class="container-fluid mid-section my-3">
            <div class="first">
            </div>
            <div class=" second mt-1 text-center">
                  <form onsubmit="sendMessage(); return false">
                        <div class="btn-group w-75">
                              <input type="text" id="message" class="form-control border-2 border-primary" placeholder="Message...">
                              <button class="btn btn-primary ms-1" type="submit">Send</button>
                        </div>
                  </form>
            </div>
       </div>

      <!-- Footer  -->
      <div class="fixed-bottom">
            <footer class="bg-dark text-center text-white">
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright |
            <a class="text-white" href="https://github.com/HimanshuSharmax">Made with ❤️ By Himanshu Sharma</a>
            </div>
      </footer>
            
      </div>

      <script src="http://localhost:8000/socket.io/socket.io.js"></script>
      <script src="./js/client.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>